{% extends "blog/base.html" %}

{% block content %}
<article id="respond">
  <h3 id="reply-title">Faça o Login</h3>
  {% if form.errors %}
    <p>Tente novamente. Senha ou Usuário incorreto(s).</p>
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <fieldset>
      <div class="form-group">
          {{ form.username.errors }}
          {{ form.username.label_tag }}
          {{ form.username }}
      </div>
      <div class="form-group">
          {{ form.password.errors }}
          {{ form.password.label_tag }}
          {{ form.password }}
      </div>
      </table>

      <input type="submit" class="btn btn-default btn-xs" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
      <a href="/accounts/register" class="btn btn-default btn-xs" role="button">Cadastre-se</a>
    </fieldset>
  </form>
</article>
{% endblock %}
