{% extends 'blog/base.html' %}

{% block content %}
  <article id="respond">
    <h3 id="reply-title">Novo Comentário</h3>
    <form method="POST" class="post-form">{% csrf_token %}
      <fieldset>
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Digite seu email" value="{{ form.autor }}">
        </div>
        <div class="form-group">
          <label for="inputComment">Comentário</label>
          <textarea class="form-control" rows="6"></textarea>
        </div>
        <button type="submit" class="save btn btn-default">Enviar</button>
      </fieldset>
    </form>
{% endblock %}
