{% load staticfiles %}
<!DOCTYPE html SYSTEM "about:legacy-compat">
<html>
	<head>
  	<meta charset="utf-8">
    <meta http-equivalent="X-UA-Compatible" content="IE=edge">
    <meta name="vierport" content="width = device-width, initial-scale = 1">

		<title>Blog | Lucas</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
		<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">

	</head>
	<body>

		<header id="header">
			<div id="head" class="parallax" parallax-speed="1">
				<h1 id="logo" class="text-center">
					<img class="img-circle" src="{% static 'images/mac.jpg' %}" alt="">
					<span class="title">Blog do Lucas</span>
					<span class="tagline">Blog criado para teste de suficiência em Desenvolvimento Web I e II.</span>
				</h1>

			</div>

			<nav class="navbar navbar-default navbar-sticky">
				<div class="container-fluid">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							 <span class="sr-only">Toggle navigation</span>
							 <span class="icon-bar"><a href="/">Posts</a></span>
							 <span class="icon-bar"><a href="/about">About</a></span>
						</button>
					</div>

					<div class="navbar-collapse collapse">

						<ul class="nav navbar-nav">
							{% if user.is_authenticated %}
								<li><a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></li>
								<li><a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a></li>
								<li><p class="top-menu">Olá, {{ user.username }}<small> (<a href="{% url 'logout' %}">Sair</a>)</small></p></li>
							{% else %}
								<li><a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a></li>
							{% endif %}
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</nav>
		</header>

		<main id="main">

			<div class="container">
				<div class="row topspace">
					<div class="col-sm-8 col-sm-offset-2">
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</div>	<!-- /container -->

		</main>

		<footer id="footer" class="topspace">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-md-offset-2 widget">
						<h3 class="widget-title">Contato</h3>
						<div class="widget-body">
							<p>+55 47 00000000<br>
								<a href="mailto:#">loe_elias@msn.com</a><br>
								<br>
								Rua ali em Joinville, #000, Joinville - SC, Brasil.
							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Produzido</h3>
						<div class="widget-body">
							<p>Produzido por Lucas Oliveira Elias para suficiência em Desenvolvimento Web I e II do Curso de Bacharelado em Sistemas de Informação no IFC.</p>
						</div>
					</div>

				</div> <!-- /widgets -->
			</div>
		</footer>

		<footer id="underfooter">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-md-offset-9 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2016, Lucas Oliveira Elias
							</p>
						</div>
					</div>
				</div> <!--widgets -->
			</div>
		</footer>



		<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="{% static 'js/template.js' %}"></script>
	</body>
</html>
