{% extends 'blog/base.html' %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <article class="well" id="fade">
        <header class="entry-header">
          <div class="entry-meta">
            <span class="posted-on">
              <time class="entry-date">
                Criado: {{ post.data_criacao|date:'d-m-Y' }}
              </time>
            </span>
          </div>
          <h1>
            <a href="{% url 'post_detail' pk=post.pk %}">
              {{ post.titulo }}
            </a>
          </h1>
        </header>
        <div class="entry-content">
          <p>
            {{ post.texto|truncatechars:200 }}
          </p>
        </div>
      </article>
  {% endfor %}
{% endblock %}
