{% extends 'blog/base.html' %}

{% block content %}
  {% for post in posts %}
   {% if not post.data_publicacao == null %}
    {% if not comentario.comentario_aprovado == True %}
    <article class="post">
      <article class="well" id="fade">
        <header class="entry-header">
          <div class="entry-meta">
            <span class="posted-on">
              <time class="entry-date published">
                Publicado: {{ post.data_publicacao }}
              </time>
            </span>
          </div>
          <h1 class="entry-title">
            <a href="{% url 'post_detail' pk=post.pk %}">
              {{ post.titulo }}
            </a>
          </h1>
        </header>
        <div class="entry-content">
          <p>{{ post.texto|linebreaks }}</p>
          <a href="{% url 'post_detail' pk=post.pk %}">Comentários</a>
        </div>
      </article>
    </article>
    {% endif %}
    {% endif %}
  {% endfor %}
  <article class="pagination">
    <span class="step-links">
      {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">Anterior</a>
      {% endif %}

      <span class="current">
        Página {{ posts.number }} of {{ posts.paginator.num_pages }}.
      </span>

      {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">Próxima</a>
      {% endif %}
    </span>
  </article>
{% endblock %}
