{% extends 'blog/base.html' %}

{% block content %}
  <article id="respond">
    <h3 id="reply-title">Novo Post</h3>
    <form method="POST" class="post-form" id="commentform">{% csrf_token %}
      <fieldset>
        <div class="form-group">
          <label for="inputTitle">Título</label>
          {{ form.titulo.errors }}
          {{ form.titulo}}
        </div>
        <div class="form-group">
          <label for="inputComment">Postagem</label>
          {{ form.texto.errors }}
          {{ form.texto }}
        </div>
      <button type="submit" class="save btn btn-default">Salvar</button>
    </fieldset>
    </form>
</article>
{% endblock %}
